.visualizador-parent{
    
    max-width: 100vw;
    max-height: 100vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .visualizador-child{
        max-width: 100vw;
        max-height: 100vh;
        img{
            object-fit: contain;
            max-width: 100vw;
            max-height: 100vh;
        }
    }
}