@import './style/settings.scss';
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .center-absolute-x {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .left-0{
    left: 0;
  }
  .right-0{
    right: 0;
  }
  .z-index-10{
    z-index: 10;
  }

  .btn-active{
    background-color:  $buttons-background-hover;
  }
  .btn-no-active{
    background-color: $buttons-background;
  }